main {
  background-color: var(--card-background-color);
  width: 100%;

  border-radius: 0px 0px 8px 8px;

  img {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  
    width: 100%;
    height: 250px;
    
    margin-bottom: 1.6rem;

    border-radius: 8px 8px 0px 0px;

  }

  .textContainer {
    padding: 1rem 1rem 0.02rem;

    .title {
      color: var(--white-color);
      font-size: 1.8rem;
  
      text-align: center;
      padding: 1rem;
  
      & strong {
        color: var(--accent-color);
      }
    }

    p {
      color: var(--stat-heading-color);
      font-size: 1rem;
      font-family: 'Lexend', sans-serif;
      line-height: 1.6rem;
      letter-spacing: 0.05rem;
      text-align: center;

      margin-bottom: 1rem;
      padding: 1rem;
    }

    .infoContainer {
      width: 100%;

      margin-bottom: 1rem;

      .infos {
        height: 80px;
  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        strong {
          color: var(--white-color);
          font-size: 2rem;
          line-height: 2.5rem;
        }
  
        h6 {
          color: hsla(0, 0%, 100%, 0.75);
          font-size: 0.9rem;
          font-weight: 400;
          text-transform: uppercase;
  
        }
  
      }

    }
  }
}

@media (min-width: 500px) {
  .infoContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    .infos {
      gap: 0 1rem;

      align-items: flex-start;

      h6 {
        letter-spacing: 0.06rem;
        margin-top: 0.6rem;

      }

    }
  }

}

@media (min-width: 800px) {
  main {
    max-width: 1000px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    border-radius: 8px;

    img {
      max-width: 600px;
      width: 40%;
      height: 500px;

      margin: 0;

      border-radius: 0px 8px 8px 0 ;

    }

    .textContainer {
      height: 500px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding: 2rem 6rem 0 2rem;
      padding-right: 6rem;

      .title {
        font-size: 2.2rem;
        text-align: start;

      }

      p {
        font-size: 1.1rem;
        text-align: start;

      }

      .infoContainer {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        padding: 1rem;
    
        .infos {
          align-items: flex-start;

          h6 {
            letter-spacing: 0.06rem;
            margin-top: 0.6rem;

          }
        }
      }
    }
  }
}